@import "tailwindcss";

*{
  transition: all 0.3s ease;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: #101010
}
input{
  width: 40%;
}
@media (max-width: 991px) {
  input{
    width: 60%;
  }
}
@media (max-width: 556px) {
  input{
    width: 70%;
  }
}